@font-face {
  font-family: "MiSans Thai";
  src: url("/fonts/MiSansThai/MiSansThaiVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MiSans Latin";
  src: url("/fonts/MiSansLatin/MiSans Latin VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
